<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tide_rhs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>121B42961E96F88600C59E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>121B42AA1E96F88700C59E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>121B42B51E96F88700C59E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
